.newBody{
    height: 100vh;
}
*{padding:0px;
margin:0px;}
.colorDisplay{
    display: flex;
   margin:10px auto;
    flex-direction: column;
    
}
.colorVal{
   
    text-align: center;
}
Link{
    font-size: 30px;
}
.his{
   
   width: 175px;
   height:15px;
   border: 1px black solid;
   margin: 0px auto;
   
   display: flex;
  
}
#but{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 5px;
width:203px;
height: 30px;
border: 2px solid black;

margin:10px 0px;

margin-right: -5px;
}
.colorpicker{
    margin:10px auto;
}
.select{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
  
   margin-left: -80px;
  
}
.enter{
    margin-left: -80px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
}
#select-label{
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;

}
#enter-label{
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;

}
#input-enter{
    margin: 10px 0px;
    border:2px solid black;
    width:200px ;
    height: 25px;
}
.colorpage{
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   
}
#butn{
    width: 70px;
    margin: 10px 40px;
}
.first-half{
    background-color: black;
    color: white;
    height: 50vh;
    padding-top: 50px;
}
#addcolor{
font-size: 25px;
}
#head{
margin-bottom: 30px;
font-size: 40px;
}
#correct{
    font-weight: bold;
    margin-bottom: 10px;
   
}
